body {
  font-size: small;
}

#search-form {
    margin-top: 40px;
    margin-bottom: 48px;
}

.home #search-form {
    margin-top: 25px;
}
.home .logo {
    margin-top: 60px;
}
a {
    color: #F00000;
    text-decoration: none;
    font-size: 17px;
    font-weight: 300;
}
a:hover, a:focus {
    color: #d60000;
}

.h5, h5 {
    font-size: 20px;
    color: #A0A0A0;
    font-weight: 300;
}

.dispurl {
    color: #8F8F8F;
}

.suggestions ul {
    list-style-type: none;
    padding: 0;
}
.suggestions ul li {
    margin-bottom: 2%;
}

.navbar-brand {
    color: white !important;
    font-weight: 100;
    letter-spacing: 6px;
}
.navbar-brand:hover {
    color: white !important;
    font-weight: 100;
    letter-spacing: 6px;
}
.navbar {
    background-color: rgba(237, 18, 24, 1);
    min-height: 40px;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 40px;
    height: 40px;
    padding-top: 0;
}
.pagination li.active a {
    background-color: rgba(237, 18, 24, 1);
    border-color: rgba(237, 18, 24, 90);
}
.pagination li.active a:hover, .pagination li.active a:focus {
    background-color: rgba(237, 18, 24, 90);
    border-color: rgba(237, 18, 24, 90);
}
.pagination li a {
    color: rgba(237, 18, 24, 1);
}
.pagination li a:hover, .pagination li a:focus {
    color: rgba(237, 18, 24, 1);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 40px;
}
.footer nav ul {
    margin: 0;
}

footer a {
    font-size: 14px;
    color: gray;
}

b, strong {
    font-weight: 400;
}
.form-control:focus {
  border-color: rgba(237, 18, 24, 1);
  outline: 0.1;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(237, 18, 24, 0.6);;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(237, 18, 24, 0.6);;
}
.typeahead li.active a, .typeahead li.active:hover a {
    background-color: rgba(237, 18, 24, 1);
}